@font-face {
  font-family: Flower;
  src: url();
}

.containeur {
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

.words {
  display: flex;
  overflow: hidden;
  align-items: baseline;
  height: 60px;
}

.word {
  display: block;
  padding: 6px;
  overflow: hidden;
  animation: animate 7s infinite;
}

@keyframes animate {
  10% {
    transform: translateY(-100%);
  }
  20% {
    transform: translateY(-102%);
  }
  30% {
    transform: translateY(-200%);
  }
  40% {
    transform: translateY(-202%);
  }
  50% {
    transform: translateY(-300%);
  }
  60% {
    transform: translateY(-302%);
  }
  70% {
    transform: translateY(-400%);
  }
  80% {
    transform: translateY(-402%);
  }
  90% {
    transform: translateY(-500%);
  }
  100% {
    transform: translateY(-502%);
  }
}

.brushPurple {
  position: relative;
  display: inline-block;
  background: url("../../img/brushstrokePurple.png") center/cover no-repeat;
  padding: 50px;
  overflow: hidden;

  &:hover::after {
    transform: translateX(100%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #161b22;
    transition: transform 0.2s ease;
    transform: translateX(0);
  }

  li {
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 1;
  }
}

.brushGreen {
  position: relative;
  display: inline-block;
  background: url("../../img/brushstrokeGreen.png") center/cover no-repeat;
  padding: 50px;
  overflow: hidden;

  &:hover::after {
    transform: translateX(100%);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #161b22;
    transition: transform 0.2s ease;
    transform: translateX(0);
  }

  li {
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 1;
  }
}

.brushBlue {
  position: relative;
  display: inline-block;
  background: url("../../img/brushstrokeBlue.png") center/cover no-repeat;
  padding: 50px;
  overflow: hidden;

  &:hover::after {
    transform: translateX(100%);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #161b22;
    transition: transform 0.2s ease;
    transform: translateX(0);
  }

  li {
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 1;
  }
}

.brushOrange {
  position: relative;
  display: inline-block;
  background: url("../../img/brushstrokeOrange.png") center/cover no-repeat;
  padding: 50px;
  overflow: hidden;

  &:hover::after {
    transform: translateX(100%);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #161b22;
    transition: transform 0.2s ease;
    transform: translateX(0);
  }

  li {
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 1;
  }
}

.navBar__link {
  font-family: Flower;
  font-size: 2rem;
}
